/nodejs-service/node_modules
/Laravel-Backend/node_modules
/Laravel-Backend/public/hot
/Laravel-Backend/public/storage
/Laravel-Backend/storage/*.key
/Laravel-Backend/storage/app/public/*
/Laravel-Backend/vendor
Laravel-Backend/.env
Laravel-Backend/.env.backup
Laravel-Backend/.phpunit.result.cache
Laravel-Backend/docker-compose.override.yml
Laravel-Backend/Homestead.json
Laravel-Backend/Homestead.yaml
Laravel-Backend/npm-debug.log
Laravel-Backend/yarn-error.log
Laravel-Backend//.idea
Laravel-Backend//.vscode
Laravel-Backend//cert.pem
Laravel-Backend//private.key
